.trees {
	text-align: center;
	font-size: 10vw;
	font-family: Montserrat,sans-serif;
	color: #273654;
}
span {
	text-align: center;
}
body {
	max-width: 100%;
	max-height: 100%;
	background: #cce3e2;
	color: #273654;
}
.plantedText {
	margin-top: 0px;
	font-size: 5vw;
}
#diff {
	font-size: 9vw;
	margin-top: none;
	margin-bottom: none;
}
.textD {
	font-size: 3vw;
}
@media only screen and (max-width: 800px) {
    .trees {
        font-size: 20vw;
    }
    #diff {
        font-size: 15vw;
    }
    .plantedText {
        font-size: 7vw;
    }
    .textD {
        font-size: 5vw;
    }
  }